<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /syscom
  RewriteRule ^syscom/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /syscom/index.html [L]
</IfModule>